<p><%= t "booking_mailer.framgia" %></p>
<p><%= t "booking_mailer.address" %><p>

<%= l Time.now %>

<p><%= t "booking_mailer.hi" %> <%= @booking.user.name %>,</p>

<p><%= t ".header" %></p>

<p><%= t ".content" %></p>

<p><%= t ".footer" %></p>

<p><%= t "booking_mailer.sincerely" %></p>

<p><%= t "booking_mailer.manager" %></p>
